body{
    background: #EDEDED;
}

.border{
    background: white;
    box-shadow: -1px 6px 5px 3px rgba(166,166,166,0.63);
    -webkit-box-shadow: -1px 4px 5px 3px rgba(166,166,166,0.63);
    -moz-box-shadow: -1px 6px 5px 3px rgba(166,166,166,0.63);
    padding: 3%;
    border-radius: 10px;
    /* margin: 1%; */
}

.nav-Container{
    background: white;
    box-shadow: -1px 6px 5px 3px rgba(166,166,166,0.63);
    -webkit-box-shadow: -1px 4px 5px 0px rgba(166,166,166,0.63);
    -moz-box-shadow: -1px 6px 5px 3px rgba(166,166,166,0.63);
    border-radius: 8px;
    margin-bottom: 2%;
}
